<!-- <form action="/" methods="POST">
    <label for="name">NAME: </label>
    <input type="text" placeholder="Name"><br><br>
    <label for="location">DOJO LOCATION: </label>
    <select name="location">
        <option value="dallas">Dallas</option>
        <option value="seattle">Seattle</option>
        <option value="sv">Silicon Valley</option>
    </select><br><br>
    <label for="language">FAVORITE LANGUAGE: </label>
    <select name="language">
        <option value="ruby">Ruby</option>
        <option value="python">Python</option>
        <option value="javascript">Javascript</option>
    </select><br><br>
    <label for="comment">Comments (optional): </label><br>
    <textarea name="comment" id="" cols="20" rows="5" placeholder="Comment"></textarea><br><br>
    <input type="submit" value="SUBMIT">
    </form> -->

    <h1>SUBMITTED INFO</h1>
    <h3>Name: </h3>
    <h3>Location: </h3>
    <h3>Language: </h3>
    <h3>Comment:</h3>
    <form action="/">
        <input type="submit" value="GO BACK">
    </form>